.degradado-amarillo{
  background-image: linear-gradient(to bottom, #efc94c, #e27a3f);
  text-align: center;
  h1, h2{
    color: #a24a19;
  }
}

.view-display-id-block_2{
  padding: 10px 10px;
  background-color: #efc94c;
  border-radius: 3px;
  margin-top: 20px;

  .views-row{
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    text-align: left !important;
  }
}
